body {
  background: darkslategrey;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.App {
  background: darkgrey;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 400px;
  text-align: center;
  align-self: center;
}
input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
button {
  border: none;
  background: #007bff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
button:hover { background: #0056b3; }
.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.tabs button {
    background: #37e75d;
}
.tabs button:hover {
  background: #176227;
}
.tabs button.active {
  background: #218a3a;
}
.tabs button.active:hover {
  background: #176227;
}

.connect {
  background: #2dc0c5;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
.connect:hover {
  background: #2b7b8a;
}
.wallet {
  font-size: 16px;
  color: #000000;
  margin-bottom: 10px;
}
.token-selector {
  margin: 15px 0;
}

.token-selector select {
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.custom-token {
  margin-top: 20px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: antiquewhite;
}

.custom-token input {
  width: 70%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-right: 8px;
}

.custom-token button {
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
}

.token-info {
  margin-top: 10px;
}
